/*顶部logo*/
.logo{
    align-items: center;
    display: flex;
}

.logo img{
    width: 48px;
    height: 48px;
}

.logo span{
    font-size: 24px;
    padding-left: 5px;
}

/*新增*/
.add_btn{
    margin-top: 10px;
}

/*底部版权信息*/
.footer{
    margin-top: 30px;
    text-align: center;
}
/*

.topNewsList {
    float: left;
    text-align: left;
    font-size: 14px;
    margin-bottom: 10px;
}*/

.topNewsList a {
    line-height: 22px !important;
    color: #666 !important;
}
/*.ant-menu-horizontal>.ant-menu-item>a, .ant-menu-horizontal>.ant-menu-submenu>a {
    display: inline-block !important;
}*/

/*中间内容*/
.container{
  padding-top: 10px;
}

/*轮播图片*/
.picturecarousel {
    width: 100%;
}



/*小图片模块*/
.imageblock {
    padding-top:10px;
    padding-right:15px;
    float: left;
}

.custom-card {
    padding-top: -15px;
    background-color:rgba(0,0,0,0.5)
}

.custom-card p,.custom-card h3{
    padding:3px;
    color: #fff;
}

/*新闻列表*/
.newslist{
    clear: both;
}

/*新增编辑*/
.instr_word{
    color:#999;
    line-height: 40px;
}
.ueditor{
    margin-top: 15px !important;
}

/*新闻详情*/

 .title,.article-title .title {
    font-size: 0.44rem !important;
    line-height: 1.4em
}

 .article-src-time {
    font-size: 0.3rem !important;
}

 .article-content .txt {
    font-size: 0.36rem !important;
}

.container{
    text-align: center;
}

.article {
    text-align: justify
}


.hn-title h2,.in-title h2 {
    z-index: 1;
    font-weight: 600
}

#title {
    margin: 16px 16px 0!important;
    border-bottom: 1px solid #e5e5e5
}

.article-title {
    margin-bottom: .2rem
}

#title .title,.article-title .title {
    font-size: 1.44rem;
    line-height: 1.4em
}

.title {
    color: #000
}

.article-src-time {
    font-size: 1rem;
    color: #999;
    padding-bottom: .2rem
}

.article-content .section {
    line-height: 1.6em;
    margin-bottom: .3rem;
    margin-top: 0
}

.article-content .txt {
    font-size: 1.36rem
}



.article-content .img .img-wrap {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-size: 40%
}


.article-content .img .txt-wrap {
    font-size: .36rem;
    line-height: 2em
}

.article-content .app-download {
    position: relative;
    display: block;
    width: 100%;
    height: .8rem;
    text-align: center;
    color: red;
    line-height: .8rem;
    border: 1px solid #e5e5e5;
    border-top: 0 none;
    font-size: .34rem
}

/*.article-content .img .img-wrap,.hot-news img {
    background-repeat: no-repeat;
    background-position: center
}

.article-content .img .img-wrap img {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 60%
}
.article-content .img {
    margin-bottom: .3rem
}
.article-content .app-download img {
    position: absolute;
    width: .42rem;
    height: .42rem;
    margin-right: .15rem;
    top: 50%;
    margin-top: -.21rem;
    left: .66rem
}*/