/*顶部logo*/
.logo{
    align-items: center;
    display: flex;
}

.logo img{
    width: 48px;
    height: 48px;
}

.logo span{
    font-size: 24px;
    padding-left: 5px;
}

/*新增*/
.add_btn{
    margin-top: 10px;
}

/*底部版权信息*/
.footer{
    margin-top: 30px;
    text-align: center;
}
/*

.topNewsList {
    float: left;
    text-align: left;
    font-size: 14px;
    margin-bottom: 10px;
}*/

.topNewsList a {
    line-height: 22px !important;
    color: #666 !important;
}
/*.ant-menu-horizontal>.ant-menu-item>a, .ant-menu-horizontal>.ant-menu-submenu>a {
    display: inline-block !important;
}*/

/*中间内容*/
.container{
  padding-top: 10px;
}

/*轮播图片*/
.picturecarousel {
    width: 100%;
}



/*小图片模块*/
.imageblock {
    padding-top:10px;
    padding-right:15px;
    float: left;
}

.custom-card {
    padding-top: -15px;
    background-color:rgba(0,0,0,0.5)
}

.custom-card p,.custom-card h3{
    padding:3px;
    color: #fff;
}

/*新闻列表*/
.newslist{
    clear: both;
}

/*新增编辑*/
.instr_word{
    color:#999;
    line-height: 40px;
}
.ueditor{
    margin-top: 15px !important;
}

/*新闻详情*/


#title {
    color: #000;
    font-size: 0.44rem !important;
    line-height: 1.4em;
    padding-bottom: 10px;
    font-weight: 500;
    text-align: center;
    border-bottom: 1px solid #e5e5e5
}

.operator_btn{
    margin-top: 10px;
    text-align: center;
}

.menu .menu-item{
    margin-left: 30px;
    
}

.menu-float{
    float: left;
}